@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-roboto;
  }
}

.label {
  width: 77%;
}

/*.border {
  border-color: #f36f2e !important;
}
.border:focus-within {
  border: none !important;
}
.border:hover {
  border-color: #f36f2e !important;
} */
